@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    background: #5c6582; /* blue-gray */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('http://techslides.com/demos/sample-videos/small.webm') no-repeat;
    background-size: cover;
}

/*
#landing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.025em;
    position: relative;
    padding: 0.025em;
    margin: 0;
    margin-top: 1em;
}
*/

#loading-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
}

#header {
    color: white;
    text-align: center;
    font-size: 400%;
    letter-spacing: 0.025em;
    position: relative;
    padding: 0.025em;
    margin: 0;
    margin-top: 1em;
    font-weight: 700;

    animation: header-fadein 3s;
    /*animation-timing-function: TODO*/
}

#phone-number-subtext, #timer-subtext,
#user-count-subtext, #what-is-this {
    line-height: 1.3;
}

#phone-number-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#timer-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

#user-count-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

#what-is-this {
    color: #9bf97f;
    text-align: center;
    font-size: 125%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 50px;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
}

#tallyIcons {
    color: white;
    font-size: 2em;
    text-align: center;
    opacity: 0;
    margin-top: 3em;

    animation: tallyicons-fadein 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes header-fadein {
    from { opacity: 0; transform: translateY(-50%);}
    to   { opacity: 1; transform: translateY(0%);}
}

@keyframes subtext-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes tallyicons-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
