@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    background: #5c6582; /* blue-gray */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*
#landing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.025em;
    position: relative;
    padding: 0.025em;
    margin: 0;
    margin-top: 1em;
}
*/
#header {
    color: white;
    text-align: center;
    font-size: 400%;
    letter-spacing: 0.025em;
    position: relative;
    padding: 0.025em;
    margin: 0;
    margin-top: 1em;
    font-weight: 700;


    animation: header-fadein 3s;
    /*animation-timing-function: TODO*/
}

#header-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

#header-sub-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

#header-sub-sub-subtext {
    color: white;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.04em;
    opacity: 0;
    position: relative;
    padding: 0.025em;
    margin: 0;
    font-weight: inherit;

    animation: subtext-fadein 2s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

#tallyIcons {
    color: white;
    font-size: 2em;
    text-align: center;
    opacity: 0;
    margin-top: 3em;

    animation: tallyicons-fadein 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes header-fadein {
    from { opacity: 0; transform: translateY(-50%);}
    to   { opacity: 1; transform: translateY(0%);}
}

@keyframes subtext-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes tallyicons-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
