<html>
<head>
    <title>Laverna</title>
    <meta name="description" content="Talk to someone new today." />

    <!-- OpenGraph data -->
    <!-- <meta property="og:url" content="url placeholder" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Laverna" />
    <meta property="og:description" content="Talk to someone new today." />
    <meta property="og:image" content="https://static.pexels.com/photos/245618/pexels-photo-245618.jpeg" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Laverna" />
    <meta name="twitter:description" content="Talk to someone new today." />
    <!-- <meta name="twitter:creator" content="@author_handle"> -->
    <!-- <meta name="twitter:image" content="http://www.example.com/image.jpg"> -->

    <!-- Import CSS -->
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/slideinstyle.css">

    <!-- Import jQuery and SocketIO -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- Import main.js, which contains our sockets -->
    <script src="../static/main.js"> </script>

    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- TODO: Add Google Analytics script -->
</head>

<div id="loading-cover"></div>

<video poster="http://techslides.com/demos/sample-videos/small.mp4" id="background-video" autoplay muted loop playsinline>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button -->
    <source src=../static/bg_vid01.mp4 type=video/mp4>
    <!--<source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>
    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
    <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
    <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>-->
</video>

<body>
    <div id="landing-text">
        <h1 id="header">Talk to someone new today.</h1>
        <h3 id="phone-number-subtext">The magic number is (123) 456-7890,</h3>
        <h4 id="timer-subtext">and the next round will begin in __ seconds.</h4>
        <h5 id="user-count-subtext">There are currently _ users in the queue.</h5>
        <a href="#0" id="what-is-this" class="cd-btn">What is this?</a>
    </div>

    <!-- This is where the number of users is tallied -->
    <div id="tallyIcons"></div>

	<div class="cd-panel from-left">
		<header class="cd-panel-header">
			<h1>What is this?</h1>
			<a href="#0" class="cd-panel-close">Close</a>
		</header>

        <div class="blurry-overlay">
            <video poster="http://techslides.com/demos/sample-videos/small.mp4" id="background-video" autoplay muted loop playsinline>
                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button -->
                <source src=../static/bg_vid01.mp4 type=video/mp4>
                <!--<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
                <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
                <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>-->
            </video>
        </div>

		<div class="cd-panel-container">
			<div class="cd-panel-content">
				<p>Text anything to the magic number to enter the waiting queue.</p>
                <p>Queues last for __ minutes.</p>
                <p>After the queue closes, everyone in it will be paired up anonymously. After that, texting the magic number will send a text to your pair, and vice versa.</p>
                <p>During this period of time, you are completely anonymous. There is no way for your pair to know who you are unless you tell them.</p>
                <p>You will be disconnected from your pair after __ minutes.</p>
                <p>Be yourself!</p>
            </div> <!-- cd-panel-content -->
            <div class="about-footer">
                <hr>
                <div>This project is <a href="http://github.com/Warren-Partridge/Laverna">open source</a>!</div>
                <div class="unique-users">Number of unique users who have texted the number: ___</div>
            </div> <!-- about-footer -->
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->

</body>
</html>

<!--
TODO: Things that will eventually be on the index page:
+ Big header text
+ The current number of users in the queue, visualized
+ Link to about page
+ Link to help page
-->
